
.nav-tab-wrapper li { float:left; margin-bottom:0px; position: relative; top:1px; margin-right:10px; }
.nav-tab-wrapper li.ui-tabs-selected { border-bottom:1px solid white;  }
.nav-tab-wrapper li a { margin:0; }